<!-- footer section -->
<footer class="footer">
	<div class="container footer__container">
		<ul class="contacts__list">
		<li class="contacts__item"><h2 class="footer__sub-title">designed and developed by</h2></li>
		<li class="contacts__item"><h1 class="footer__title">Ivan Doroshenko</h1></li>
		<li class="contacts__item">
			<img src="img/icon__emal.png" alt="Email" class="footer-contacts__icon--email">
				<address class="contacts-adress">
					<a href="mailto:ivandoroshenko1988@gmail.com" class="footer-contacts-address__link">ivandoroshenko1988@gmail.com</a>
				</address>
		</li>
	</ul>
	</div>
</footer>
