<!-- intro section -->
<section class="intro" id="intro-parallax">
	<video poster="video/Heaven/Heaven.jpg" id="bg__video" class="bg__video" autoplay="true" muted loop preload="auto" data-depth="0.2">
		<source src="video/Heaven/Heaven.webm" type="video/webm">
		<source src="video/Heaven/Heaven.mp4" type="video/mp4">
		<source src="video/Heaven/Heaven.ogv" type="video/ogv"> Your browser does not support HTML5 video.
	</video>
	<img src="./video/Heaven/Heaven.jpg" class="bg__video" data-depth="0.1">
	<div class="container intro__container" data-depth="0.5">
		<p class="intro__text">Ladies and gentlemen, let me introduce</p>
		<h1 class="intro__title">Ivan Doroshenko</h1>
		<h2 class="intro__sub-title">Shopify & Front-end developer</h2>
	</div>
</section>
