<!-- works section -->
<section class="works" id="works">
	<!-- div class="container works__container">
	<h2 class="works__title">My Portfolio</h2>
	<ul class="works__list">
    <li class="works__item">
      <img src="img/condev_preview.png" alt="Our works" class="works__img">
      <div class="works__desc-wrap">
        <h3 class="works__desc-title">Dream House</h3>
        <p class="works__desc-text">A modern, responsive portfolio landing page for a construction/renovation company. This
          project demonstrates front-end development and UI skills from design mockup to fully functional, production-ready
          website.
        </p>
      </div>
      <div class="works__btn-wrapper">
        <a href="https://ivandoroshenko.github.io/midnight/#" class="works__link" target="_blank">
          View Live Demo
        </a>
      </div>
    </li>

    <li class="works__item">
      <img src="img/condev_preview.png" alt="Our works" class="works__img">
      <div class="works__desc-wrap">
        <h3 class="works__desc-title">Dream House</h3>
        <p class="works__desc-text">A modern, responsive portfolio landing page for a construction/renovation company. This project demonstrates front-end development and UI skills from design mockup to fully functional, production-ready website.
        </p>
      </div>
      <div class="works__btn-wrapper">
        <a href="https://ivandoroshenko.github.io/midnight/#" class="works__link" target="_blank">
          View Live Demo
        </a>
      </div>
    </li>

		<li class="works__item">
			<img src="img/waxom.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Waxom</h3>
				<p class="works__desc-text">Pure css elements demonstation without using JavaScript. Used for Workshop
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/waxom/dist/" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>

		<li class="works__item">
			<img src="img/antibuks_preview.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Antibuks</h3>
				<p class="works__desc-text">New design for the site antibuks.com.ua
					Create site from scratch including photoshop design, HTML/CSS, JS, responsive web design
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/antibuks.com.ua/build/" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>

		<li class="works__item">
			<img src="img/skate-fresh.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">inlineskatecourse.com</h3>
				<p class="works__desc-text">Front-End for inlineskatecourse.com in cooperation with <a href="mailto:deniskldesign@gmail.com">Denis Kliatskii</a>
					The project is responsive for all dimensions and orientations of mobile devices. Fronted is now live, using Wordpress
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://inlineskatecourse.com/" class="works__link" target="_blank">
					View Live Site
				</a>
			</div>
		</li>

		<li class="works__item">
				<img src="img/kauf_preview.png" alt="Our works" class="works__img">
				<div class="works__desc-wrap">
					<h3 class="works__desc-title">Kauf</h3>
					<p class="works__desc-text">2 languages website. Has 3 sliders. 2 of them vith video. Creating website layout from PSD to 
						HTML5 semantic, markup, JS interaction and CSS3 stylisation, 
						Responsive UI design, optimisation of page loading were used
					</p>
				</div>
				<div class="works__btn-wrapper">
					<a href="https://ivandoroshenko.github.io/kauf/src/" class="works__link" target="_blank">
						View Live Demo
					</a>
				</div>
		</li>

		<li class="works__item">
				<img src="img/sevenOaks-preview.jpg" alt="Our works" class="works__img">
				<div class="works__desc-wrap">
					<h3 class="works__desc-title">seveOaks</h3>
					<p class="works__desc-text">Responive Landing page with fullpage slider. Bulid as test task for one of the computer companies.Only pure CSS, HTML and JQuery were used. Any plugins. Were build on glup with ass preprocessor</p>
				</div>
				<div class="works__btn-wrapper">
					<a href="https://ivandoroshenko.github.io/testGFL/src	/#" class="works__link" target="_blank">
						View Live Demo
					</a>
				</div>
			</li>

		<li class="works__item">
				<img src="img/motorcycles_preview.jpg" alt="Our works" class="works__img">
				<div class="works__desc-wrap">
					<h3 class="works__desc-title">Motorcycle expedition company</h3>
					<p class="works__desc-text">Creating website layout from PSD to 
						HTML5 semantic, markup, JS interaction and CSS3 stylisation, 
						Responsive UI design
					</p>
				</div>
				<div class="works__btn-wrapper">
					<a href="https://ivandoroshenko.github.io/motorcycle-expedition/dist/" class="works__link" target="_blank">
						View Live Demo
					</a>
				</div>
		</li>

		<li class="works__item">
			<img src="img/pink_preview.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Pink</h3>
				<p class="works__desc-text"> Multipage Full Responsive application design, avaliable from teblet, mobile and deskop. Team-leading
					with Git creating layout in a team.
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/pink/dist/" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>
		
		<li class="works__item">
			<img src="img/acivebox.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Active-Box</h3>
				<p class="works__desc-text">Creating website layout on HTML5 semantic from PSD, 
					CSS3 stylisation, Responsive UI design</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/activebox/dist/" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>

		<li class="works__item">
			<img src="img/hosting_preview.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Hosting</h3>
				<p class="works__desc-text">JS interaction on the base of already built page.</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/hosting/#" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>
		
		<li class="works__item">
			<img src="img/glazer_preview.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Glazer</h3>
				<p class="works__desc-text">Simple landing page with excellent UI design, 
					CSS3 stylisation, Responsive UI design
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/glazer/#" class="works__link" target="_blank">
					View Live Demo
				</a>
			</div>
		</li>

		<li class="works__item">
			<img src="img/midnight_preview.jpg" alt="Our works" class="works__img">
			<div class="works__desc-wrap">
				<h3 class="works__desc-title">Midnight</h3>
				<p class="works__desc-text">Creating website layout on HTML5 semantic from PSD, CSS3 
					stylisation, Responsive UI designs
				</p>
			</div>
			<div class="works__btn-wrapper">
				<a href="https://ivandoroshenko.github.io/midnight/#" class="works__link"  target="_blank">
					View Live Demo
				</a>
			</div>
		</li>
	</ul> -->
</section>
