.contacts{
    background: #e0eaec;
    padding: 30px 0;


}

.contacts__list, 
.contacts__item{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  
}   


  .footer-contacts__icon--email {
        width: 35px;
    }
    .footer-contacts__icon--phone {
        width: 25px;
    }

