.header {
    width: 100%;
    display: flex;  
    position: fixed;
    z-index: 99;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    padding: 15px 30px 0 0;
    
    &__fixed {
        color: #2f2f2f;
        transition: all 0.35s ease-out;
    }
}
.nav {   
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: flex-end;
      
       &__list {
           list-style: none;
           display: flex;
           flex-wrap: row nowrap;
           margin: 0;
           padding: 0;
       }
    }


.nav__item {
    margin-right: 30px;
    padding: 0 2px;

    &:last-child {
        margin-right: 0;
    }
    
    .nav__link {
        text-decoration: none;
        color: #f2f2f27e;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    
    .nav__link-works {
    color: #2f2f2f;
}
           

        &:hover {
                // text-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
                color:  #2f2f2f;
                font-weight: 600;
                
                
        }
    }   
}

