.works {
    position: relative;
}

.nav--works {

a.nav__link--works {
    color: #2f2f2f;
}
}

.intro__works {
    background: url('../img/moto-desktop.jpg') 
    center top no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0 625px;
    position: relative;
    overflow: hidden;

    
   .intro__title--works {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    letter-spacing: 0.5px;
    color: #fff;
}

}

.project {
margin: 0;
padding: 0;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89afb9+0,cadadb+100&0.68+0,0.17+49,0.17+100 */
background: -moz-linear-gradient(top, rgba(137, 175, 185, 0.678) 0%, rgba(169,196,202,0.17) 49%, rgba(202,218,219,0.17) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,175,185,0.68)), color-stop(49%,rgba(169,196,202,0.17)), color-stop(100%,rgba(202,218,219,0.17))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(137, 175, 185, 0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad89afb9', endColorstr='#2bcadadb',GradientType=0 ); /* IE6-9 */
}

.project__heading{
    margin: 0 auto;
    padding: 90px 0 0 0;
    text-align: center;
    max-width: 611px;
    min-width: 320px;
    width: 100%;

    h1, h2 {
        text-transform: uppercase;
    }
}

.project__heading-title {
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 750px;
    font-size: 1.125 rem;
    color:#2D6878;  
    font-weight: 700;
}

.project__heading-text {
   @extend .project__heading-title;
   max-width: 650px;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0.5px;
   line-height: 1.5rem;
}
.project__container--top {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 330px 0;
    background: url('../img/moto__landskape.png ') center center no-repeat;
    background-size: cover;
}

.project-container--top-link{
    position: absolute;
    left: 40%;
    bottom: 190px;
    transform: translateX(-50%);
    z-index: 2;
   
 
}

.works__btn{
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: #ff0432;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    box-shadow: rgb(130, 135, 136) 0px -1px 4px 4px;   
    cursor: pointer;
}

.project-container__intro{
    left: 48.5%;
    bottom: 300 px;
}

   
.project-container--bottom-left{
    z-index: 5;
    left: 21%;  
    bottom: 100px;
}


.project__landskape{
    position: relative;
    z-index: 2;
}
.project__container--bottom{
    position: relative;
    z-index: 3;
    top: -10px;
    margin-bottom: -14px;
    text-align: center;

}
.project__portrait{
    position: relative;
    z-index: 4;
    left: 7%;
    max-width: 583px;
    padding: 308px 0    ;
    background: url('../img/moto__portrait.png') center center no-repeat;
    background-size: cover;
}   
.project__tablet{
    max-width: 965px;
    padding: 330px 0;
    background: url('../img/moto-tablet.jpg') center center no-repeat;
    background-size: cover;
}

.works__btn:hover {
    background: #fff;
    color: #ff0432;
    box-shadow: #BDD5DC 0px -1px 4px 4px;   
    
}


