.nav--works {

a.nav__link--works {
    color: #2f2f2f;
}
}

.intro__works {
    background: url('../img/moto-desktop.jpg') center top no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 50px 0 625px;
    position: relative;
    margin-bottom: -40px;
    overflow: hidden;

    
    //  &:after{
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     background: #000;
    //     opacity: 0.3;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;  
    // }   

      

    .intro__title--works {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    letter-spacing: 0.5px;
    color: #fff;
}

}

.project {
margin: 0;
padding: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89afb9+0,cadadb+100&0.68+0,0.17+49,0.17+100 */
background: -moz-linear-gradient(top, rgba(137,175,185,0.68) 0%, rgba(169,196,202,0.17) 49%, rgba(202,218,219,0.17) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,175,185,0.68)), color-stop(49%,rgba(169,196,202,0.17)), color-stop(100%,rgba(202,218,219,0.17))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad89afb9', endColorstr='#2bcadadb',GradientType=0 ); /* IE6-9 */
}
.project__container--top {
    text-align: center;
}

.project__landskape{
    position: relative;
    z-index: 2;
}
.project__container--bottom{
    position: relative;
    z-index: 3;
    top: -10px;
    margin-bottom: -14px;
    text-align: center;

}
.project__portrait{
    position: relative;
    z-index: 4;
    left: 7%;
}

 	// <section class="project"><!-- project -->
	// 		<h2 class="project__title"></h2>
	// 		<p class="project__text"></p>
	// 		<div class="project__container--top">
	// 			<img src="img/moto__landskape.jpg" alt="Mobile" class="project__landskape">
	// 		</div>
	// 		<div class="project__container--bottom">
	// 			<img src="img/moto__portrait.jpg" alt="Mobile" class="project__portrait">
	// 			<img src="img/moto__tablet.jpg" alt="Tablet" class="project__tablet">
	// 		</div>
	// 	</section> <!-- /project section -->

