.works{
    width: 100%;
    padding: 100px 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89afb9+0,cadadb+100&0.68+0,0.17+49,0.17+100 */
background: -moz-linear-gradient(top, rgba(137,175,185,0.68) 0%, rgba(169,196,202,0.17) 49%, rgba(202,218,219,0.17) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,175,185,0.68)), color-stop(49%,rgba(169,196,202,0.17)), color-stop(100%,rgba(202,218,219,0.17))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* IE10 preview */
background: linear-gradient(to bottom, rgba(137,175,185,0.68) 0%,rgba(169,196,202,0.17) 49%,rgba(202,218,219,0.17) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad89afb9', endColorstr='#2bcadadb',GradientType=0 ); /* IE6-9 */

    &__title {
        font-family: $baseFont; 
        line-height: 1.1;
        color: #4a4a4a;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 0 auto; 
        text-align: center;
    }

    &__container {
        margin: 0 auto;
        padding: 0 15px;
    }
}

 .works__list{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 45px 0 0 0;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.works__item{
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 30px 30px 0;
    width: 45%;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 15px;
    }
    overflow: hidden;
    position: relative;
    text-align: center;
    background: transparent;
    transition: box-shadow 0.3s ease-in-out;        
    

      &:before{
        content: '';
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(15, 16, 37, 0.9  );
        opacity: 0;
        z-index: 1;
        transition: opacity 1s ease;
        will-change: opacity; 
    }
        .works__btn-wrapper{
            
            display: flex;
            position: absolute;
            bottom: 20px;
            left: 50%;
            flex-direction: row;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            margin-top: auto;
            justify-content: center;
            overflow: hidden;
           
            z-index: 1; 
        }
        .works__link{
            margin: 0;
            padding: 0;
            text-decoration: none;
            display: block;
            height: auto;
            margin-right: 20px;
            cursor: pointer;
            &:hover {
            border: 1px soid white;    
        }
           
            background-color: rgba(41, 45, 102, 0.9);
            opacity: 0;
            transition: opacity 2s ease;
            will-change: opacity; 


        &:last-child {
            margin-right: 0;
        }

        .btn {
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 10px 0;
        font-family: $baseFont;
        font-weight: 700;
        color: $baseColor;
        min-width: 240px;
        background: transparent;
        font-size: 0.75rem;
        text-transform: uppercase; 
        cursor: pointer;
        border: none; 
        
        &:hover {
            opacity: 0.6;
            
        }
      
        
        
        }
}
   
}



.works__img{
    display: block;
    width: 100%;
    // height: 253px;
    transition: transform 2s ease;
    will-change: transform;
}

.works__desc-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

}
.works__desc-title{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: $baseFont;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(180px);
    transition: transform .5s ease-in-out;
    will-change: transform; 
    z-index: 2;
}

.works__desc-text{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: $baseFont;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 13px;
    text-align: center;
    z-index: 3;
    transform: translateY(-190px);
    transition: transform .5s ease-in-out;
    will-change: transform; 
}

.works__item:hover {
    box-shadow: #333 3px 3px 4px;
    
    }
 .works__item:hover .works__img{
    transform: scale(1.3);
}
    .works__item:hover:before{
        opacity: 1;
    }
    
    .works__item:hover .works__desc-text{
            transform: translate(0);
        }
        .works__item:hover  .works__desc-title{
            transform: translate(0);
        }

        .works__item:hover  .works__link {
           
            opacity: 1;
        }
