<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Anti-flicker snippet (recommended)  -->
	<style>
		.async-hide {
			opacity: 0 !important
		}
	</style>
	<script>(function (a, s, y, n, c, h, i, d, e) {
		s.className += ' ' + y; h.start = 1 * new Date;
			h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
			(a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
		})(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
			{ 'GTM-5WWLQHN': true });</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113151691-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-113151691-1', { 'optimize_id': 'GTM-5WWLQHN' });
</script>

	<meta charset="UTF-8">
	<meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile specific metas
    ============================================ -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/ivandoroshenko-favicon.png" type="image/png">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	
	<title>Ivan Doroshenko</title>
	
</head>
<body>
	<!-- header with social and navigation -->
	@@include('./components/header.html')

	<main class="maincontent"> <!-- maincontent -->

		@@include('./components/intro.html')

		<!-- works -->
		@@include('./components/works.html')

	  <!-- contacts -->
		@@include('./components/contacts.html')

		<!-- footer -->
		@@include('./components/footer.html')

	</main> <!-- mainconent -->

	<div class="btn-up">
		<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#e84c3d" viewBox="0 0 48 48">
			<path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z" />
		</svg>
	</div>
	<!-- /go up arrow button -->

